/* navbar.css */

.navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
  }
  
  .navbar-logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .navbar-logo img {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
  }
  
  .navbar-menu {
    display: flex;
    align-items:flex-end;
    padding-right: 25px;
  }
  
  .navbar-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .navbar-menu li {
    margin-left: 15px;
  }
  
  .navbar-menu li:last-child {
    margin-right: 0;
  }
  
  .navbar-menu li a {
    color: #fff;
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  
    .navbar-menu {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: #333;
      display: none;
    }
  
    .navbar-menu ul {
      flex-direction: column;
      padding: 10px;
    }
  
    .navbar-menu li {
      margin-left: 0;
      margin-bottom: 10px;
    }
  
    .navbar-toggle {
      position: relative;
      z-index: 1;
    }
  }
  